# AOC Git Ignore file

# Rider IDE files
.idea/

# C++ compiled (binary) version of solutions
Day-??/aoc_day??_p1
Day-??/aoc_day??_p2
Day-??/aoc_day??_??.dSYM

# F# project build/ and obj/
build/
obj/

# exclude the template used for each day
template/

# Mac
.DS_Store

# key files
[Kk]eys.*
[Kk]ey.*

# Databbase files
*.db
